@(allTrips: Set[Trip])

@main("All your trips") {
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Main Page</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/trip">All Trips<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" align="left">
        <div id="calcTable" >
            <table class="table table-bordered">
                <tr>
                    <th>Office Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                @for(trip <- allTrips){
                    <tr>
                        <td><a href = @routes.Application.getWeather(trip.getId) a>@trip.getLocation()</td>
                        <td>@trip.getStartDate()</td>
                        <td>@trip.getEndDate()</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}